<!-- 
- View for Patient page
-->

<div id = "view-patient" class = "page-container" ng-init = "$parent.openLeftMenu = false">
	<div data-left-menu>
		<ul>
			<li><a href = "" class = "icon-patient actived">{{labels.Patient}}</a></li>
			<li><a href = "#/request" class = "icon-request">{{labels.Request}}</a></li>
			<li><a href = "#/processing" class = "icon-processing">{{labels.Processing}}</a></li>
			<li><a href = "#/settings" class = "icon-settings">{{labels.Settings}}</a></li>
			<li><a href = "" class = "icon-signout" ng-click = "signOut()">{{labels.Sign_Out}}</a></li>
			<li data-mobile-only></li>
		</ul>
	</div>
	
	<div data-role = "page">
		<div class = "page-wrapper">
			<div class = "page-subject">
				{{labels.Patients}}
				<div class = "control-bar">
					<a class = "btn-light-red" ng-if = "selPatient.ID" ng-click = "deleteSelectedPatient()">{{labels.Delete}}</a>
					<a class = "btn-light-gray" ng-if = "selPatient.ID" ng-click = "updateSelectedPatient()">{{labels.Save}}</a>
					<a class = "btn-light-gray" ng-if = "newPatientFlag" ng-click = "createNewPatient()">{{labels.Create}}</a>
					<a class = "btn-light-blue" ng-if = "!newPatientFlag" ng-click = "createNewForm()">{{labels.New}}</a>
				</div>
			</div>
			<div class = "page-content">
				<div class = "page-form col-lg-4 list-col">
					<div class = "search-bar col-lg-12"><input type = "text" placeholder = "Search" ng-model = "searchPatients"/></div>
					<ul class = "col-lg-12 data-list">
						<li ng-repeat = "p in $parent.Patients | orderBy: 'name' | filter: searchPatients | limitTo: itemsPerPage * currentPage | limitTo: itemsPerPage * currentPage < ($parent.Patients | filter: searchPatients).length ? -itemsPerPage : itemsPerPage - (itemsPerPage * currentPage - ($parent.Patients | filter: searchPatients).length)">
							<a ng-class = "{'actived': p.ID == selPatient.ID}" ng-click = "selectPatient(p.ID);">
								{{p.name}} {{p.fName}} 
								<span>{{p.birthDate_l}}</span>
								<div class = "clear"></div>
							</a>
						</li>
						<li class = "empty-list" ng-if = "!($parent.Patients | filter: searchPatients).length">No Patients</li>
					</ul>
					<div class = "pagenation-wrap" ng-show = "($parent.Patients | filter: searchPatients).length > itemsPerPage">
						<pagination total-items = "($parent.Patients | filter: searchPatients).length" items-per-page = "itemsPerPage" ng-model = "currentPage" max-size = "maxSize" boundary-links = "true" rotate = "false" previous-text = "&lsaquo;" next-text = "&rsaquo;" first-text = "&laquo;" last-text = "&raquo;"></pagination>
					</div>
				</div>

				<!-- edit patient -->
				<div class = "page-sub-form col-lg-8">
					<!-------------------------------------------------------->
					<div class = "page-form col-lg-6">
						<label class = "form-label">{{labels.Patient_Information}}</label>
						<fieldset class = "col-lg-12">
							<div>
								<li>
									<label for = "selPatient.name" class = "control-label col-4">{{labels.Name}}</label>			
									<input type = "text" class = "form-control col-8" id = "selPatient.name" ng-model = "selPatient.name" ng-focus = "focus.name"/>
									<div class = "clear"></div>
								</li>
								<li>
									<label for = "selPatient.fName" class = "control-label col-4">{{labels.FirstName}}</label>
									<input type = "text" class = "form-control col-8" id = "selPatient.fName" ng-model = "selPatient.fName" ng-focus = "focus.fName"/>
									<div class = "clear"></div>
								</li>
								<li>
									<label for = "selPatient.rrn" class = "control-label col-4">{{labels.RRN}}</label>
									<input type = "text" class = "form-control col-8" id = "selPatient.rrn" ng-model = "selPatient.rrn" ng-focus = "focus.rrn"/>
									<div class = "clear"></div>
								</li>
								<li>
									<label for = "selPatient.socialSecurityNbr" class = "control-label col-4">{{labels.Social_Sec_Number}}</label>	
									<input type = "text" class = "form-control col-8" id = "selPatient.socialSecurityNbr" ng-model = "selPatient.socialSecurityNbr" ng-focus = "focus.socialSecurityNbr"/>
									<div class = "clear"></div>
								</li>
								<li>
									<label for = "selPatient.gender" class = "control-label col-4">{{labels.Gender}}</label>		
									<div class = "btn-group col-8" id = "selPatient.gender">
										<label class = "btn btn-default" ng-model = "selPatient.gender" btn-radio = "'M'">{{labels.M}}</label>
										<label class = "btn btn-default" ng-model = "selPatient.gender" btn-radio = "'F'">{{labels.F}}</label>
									</div>
									<div class = "clear"></div>
								</li>
								<li>
									<label for = "selPatient.birthDate" class = "control-label col-4">{{labels.Birthday}}</label>	
									<p class = "input-group col-8">
										<input type = "text" id = "selPatient.birthDate" ng-model = "selPatient.birthDate" class = "form-control" datepicker-popup = "dd/MM/yyyy" is-open = "opened_patBirthDate" datepicker-options = "dateOptions_patBirthDate" ng-click = "open_patBirthDate($event)" ng-focus = "focus.birthDate"/>
									</p>
									<div class = "clear"></div>
								</li><!--  -->
							</div>
						</fieldset>
						<fieldset class = "col-lg-12">
							<legend>{{labels.Address}}</legend>
							<div>
								<li>
									<label for = "selPatient.street" class = "control-label col-4">{{labels.Street}}</label>	
									<input type = "text" class = "form-control col-8" id = "selPatient.street" ng-model = "selPatient.street" ng-focus = "focus.street"/>
									<div class = "clear"></div>
								</li>
								<li>
									<label for = "selPatient.zip" class = "control-label col-4">{{labels.Zip}}</label>	
									<input type = "text" class = "form-control col-8" id = "selPatient.zip" ng-model = "selPatient.zip" ng-focus = "focus.zip"/>
									<div class = "clear"></div>
								</li>
								<li>
									<label for = "selPatient.city" class = "control-label col-4">{{labels.City}}</label>	
									<input type = "text" class = "form-control col-8" id = "selPatient.city" ng-model = "selPatient.city" ng-focus = "focus.city"/>
									<div class = "clear"></div>
								</li>
							</div>
						</fieldset>
						<fieldset class = "col-lg-12">
							<legend>{{labels.Contact_Infomation}}</legend>
							<div>
								<li>
									<label for = "selPatient.tel" class = "control-label col-4">{{labels.Phone}}</label>	
									<input type = "tel" class = "form-control col-spacing-8" id = "selPatient.tel" ng-model = "selPatient.tel" ng-focus = "focus.tel"/>
									<div class = "clear"></div>
								</li>
								<li>
									<label for = "selPatient.gcm" class = "control-label col-4">{{labels.Mobile}}</label>	
									<input type = "tel" class = "form-control col-8" id = "selPatient.gcm" ng-model = "selPatient.gcm" ng-focus = "focus.gcm"/>
									<div class = "clear"></div>
								</li>
								<li>
									<label for = "selPatient.email" class = "control-label col-4">{{labels.eMail}}</label>	
									<input type = "email" class = "form-control col-8" id = "selPatient.email" ng-model = "selPatient.email" ng-focus = "focus.email"/>
									<div class = "clear"></div>
								</li>
							</div>
						</fieldset>
						<div class = "clear"></div>
					</div>
					<div class = "page-form col-lg-6">
						<label class = "form-label">{{labels.Clinical_Information}}</label>
						<fieldset class = "col-lg-12">
							<ul class = "list-content">
								<li ng-repeat = "c in selPatient.clinicals">
									<input type = "text" value = "{{c.cliDsc}}" readonly/>
									<a class = "col-control icon-trash" ng-click = "deleteClinical($index)"></a>
								</li>
								<li ng-if = "!selPatient.clinicals.length" class = "empty-list">
									<span>No Clinicals</span>
								</li>								
							</ul>
							<div class = "list-content-edit" ng-show = "view_ClinicalCodes.length">
								<select ng-model = "newClinical" ng-focus = "focus.newClinical" ng-options = "c as c.cliDsc for c in view_ClinicalCodes track by c.cliCode">
									<option value = "">Select Patient</option>
								</select>
								<a class = "col-control icon-new" ng-click = "addClinical()"></a>
							</li>
						</fieldset>
						<fieldset class = "col-lg-12">
							<legend>{{labels.Addtional_Remarks}}</legend>
							<div>
								<li>
									<textarea rows = 5 class = "form-control col-lg-12" ng-model = "selPatient.addtionalRemarks" ng-focus = "focus.addtionalRemarks"></textarea>
									<div class = "clear"></div>
								</li>
							</div>
						</fieldset>
						<div class = "clear"></div>
					</div>
					<div class = "clear"></div>
					<!-------------------------------------------------------->
				</div>
				<div class = "clear"></div>
			</div>
		</div>
	</div>
</div>