<!-- 
- View for Requested Analyses page
-->

<div id = "view-request" class = "page-container" ng-init = "$parent.openLeftMenu = false">
	<div data-left-menu>
		<ul>
			<li><a href = "#/patients" class = "icon-patient">{{labels.Patient}}</a></li>
			<li><a href = "" class = "icon-request actived">{{labels.Request}}</a></li>
			<li><a href = "#/processing" class = "icon-processing">{{labels.Processing}}</a></li>
			<li><a href = "#/settings" class = "icon-settings">{{labels.Settings}}</a></li>
			<li><a href = "" class = "icon-signout" ng-click = "signOut()">{{labels.Sign_Out}}</a></li>
			<li data-mobile-only></li>
		</ul>
	</div>
	
	<div data-role = "page">
		<div class = "page-wrapper">
			<div class = "page-subject">
				{{labels.Requested_Analyses}}
				<div class = "control-bar">
					<a class = "btn-light-gray" ng-click = "saveRequestInfo();" ng-if = "detailFlag">{{labels.Save}}</a>
					<a class = "btn-light-gray" ng-click = "detailFlag = !detailFlag" ng-show = "!detailFlag">{{labels.Detail}}</a>
					<a class = "btn-light-red" ng-click = "process();">{{labels.Process}}</a>
				</div>
				<div class = "content-title" data-pc-only>
					<i>Thire Alain - 19/12/1959</i>
				</div>
			</div>
			<div class = "page-detail-content" ng-class = "{actived: detailFlag}">
				<div class = "page-form col-lg-4">
					<label class = "form-label">{{labels.Patient_Information}}</label>
					<fieldset class = "col-lg-12">
						<div>
							<li>
								<label for = "patName" class = "control-label col-4">{{labels.Name}}</label>			
								<input type = "text" class = "form-control col-8" id = "patName" ng-model = "patName"/>
								<div class = "clear"></div>
							</li>
							<li>
								<label for = "patFirstName" class = "control-label col-4">{{labels.FirstName}}</label>
								<input type = "text" class = "form-control col-8" id = "patFirstName" ng-model = "patFirstName"/>
								<div class = "clear"></div>
							</li>
							<li>
								<label for = "patRRN" class = "control-label col-4">{{labels.RRN}}</label>			
								<input type = "number" class = "form-control col-8" id = "patRRN" ng-model = "patRRN"/>
								<div class = "clear"></div>
							</li>
							<li>
								<label for = "patSocial_Sec_Number" class = "control-label col-4">{{labels.Social_Sec_Number}}</label>	
								<input type = "text" class = "form-control col-8" id = "patSocial_Sec_Number" ng-model = "patSocial_Sec_Number"/>
								<div class = "clear"></div>
							</li>
							<li>
								<label for = "patGender" class = "control-label col-4">{{labels.Gender}}</label>		
								<div class = "btn-group col-8" id = "patGender">
									<label class = "btn btn-default" ng-model = "patGender" btn-radio = "'M'">{{labels.M}}</label>
									<label class = "btn btn-default" ng-model = "patGender" btn-radio = "'F'">{{labels.F}}</label>
								</div>
								<div class = "clear"></div>
							</li>
							<li data-mobile-only>
								<label for = "patBirthday_M" class = "control-label col-4">{{labels.Birthday}}</label>	
								<input type = "date" class = "form-control col-8" id = "patBirthday_M" ng-model = "patBirthday_M"/>
								<div class = "clear"></div>
							</li>					
							<li data-pc-only><!--  -->
								<label for = "patBirthday" class = "control-label col-4">{{labels.Birthday}}</label>	
								<p class = "input-group col-8">
									<input type = "text" class = "form-control" datepicker-popup = "dd/MM/yyyy" is-open = "opened_patBirthday" datepicker-options = "dateOptions_patBirthday" id = "patBirthday" ng-model = "patBirthday"/>
									<span class = "input-group-btn">
										<button type = "button" class = "btn btn-default btn-datepicker" ng-click = "open_patBirthday($event)"><i class = "glyphicon glyphicon-calendar"></i></button>
									</span>
								</p>
								<div class = "clear"></div>
							</li><!--  -->
						</div>
					</fieldset>
					<fieldset class = "col-lg-12">
						<legend>{{labels.Address}}</legend>
						<div>
							<li>
								<label for = "patStreet" class = "control-label col-4">{{labels.Street}}</label>	
								<input type = "text" class = "form-control col-8" id = "patStreet" ng-model = "patStreet"/>
								<div class = "clear"></div>
							</li>
							<li>
								<label for = "patZip" class = "control-label col-4">{{labels.Zip}}</label>	
								<input type = "text" class = "form-control col-8" id = "patZip" ng-model = "patZip"/>
								<div class = "clear"></div>
							</li>
							<li>
								<label for = "patCity" class = "control-label col-4">{{labels.City}}</label>	
								<input type = "text" class = "form-control col-8" id = "patCity" ng-model = "patCity"/>
								<div class = "clear"></div>
							</li>
						</div>
					</fieldset>
					<fieldset class = "col-lg-12">
						<legend>{{labels.Contact_Infomation}}</legend>
						<div>
							<li>
								<label for = "patPhone" class = "control-label col-4">{{labels.Phone}}</label>	
								<input type = "tel" class = "form-control col-spacing-8" id = "patPhone" ng-model = "patPhone"/>
								<div class = "clear"></div>
							</li>
							<li>
								<label for = "patMobile" class = "control-label col-4">{{labels.Mobile}}</label>	
								<input type = "tel" class = "form-control col-8" id = "patMobile" ng-model = "patMobile"/>
								<div class = "clear"></div>
							</li>
							<li>
								<label for = "patEmail" class = "control-label col-4">{{labels.eMail}}</label>	
								<input type = "email" class = "form-control col-8" id = "patEmail" ng-model = "patEmail"/>
								<div class = "clear"></div>
							</li>
						</div>
					</fieldset>
					<div class = "clear"></div>
				</div>

				<div class = "page-form col-lg-4">
					<label class = "form-label">{{labels.Clinical_Information}}</label>
					<fieldset class = "col-lg-12">
						<legend>{{labels.Clinical_Patients}}</legend>
						<ul class = "list-content">
							<li ng-repeat = "c in patClinicals">
								<input type = "text" value = "{{c}}" class = "col-full-left" readonly/>
								<a class = "col-control icon-trash" ng-click = "deleteClinical($index)"></a>
							</li>
							<li>
								<input type = "text" class = "col-full-left element-new" ng-model = "newClinical"/>
								<a class = "col-control icon-new" ng-click = "addClinical()"></a>
							</li>
						</ul>
					</fieldset>
					<fieldset class = "col-lg-12">
						<legend>{{labels.Addtional_Remarks}}</legend>
						<div>
							<li>
								<textarea rows = 5 class = "form-control col-lg-12" ng-model = "patAddtionalRemarks"></textarea>
								<div class = "clear"></div>
							</li>
						</div>
					</fieldset>
					<div class = "clear"></div>
				</div>

				<div class = "page-form col-lg-4">
					<label class = "form-label">{{labels.Request_Information}}</label>					
					<fieldset class = "col-lg-12">
						<div>							
							<li data-mobile-only>
								<label for = "reqRequest_Date_M" class = "control-label col-4">{{labels.Request_Date}}</label>	
								<input type = "date" class = "form-control col-8" id = "reqRequest_Date_M" ng-model = "reqRequest_Date_M"/>
								<div class = "clear"></div>
							</li>					
							<li data-pc-only><!--  -->
								<label for = "reqRequest_Date" class = "control-label col-4">{{labels.Request_Date}}</label>	
								<p class = "input-group col-8">
									<input type = "text" class = "form-control" datepicker-popup = "dd/MM/yyyy" is-open = "opened_reqRequest_Date" datepicker-options = "dateOptions_reqRequest_Date" id = "reqRequest_Date" ng-model = "reqRequest_Date"/>
									<span class = "input-group-btn">
										<button type = "button" class = "btn btn-default btn-datepicker" ng-click = "open_reqRequest_Date($event)"><i class = "glyphicon glyphicon-calendar"></i></button>
									</span>
								</p>
								<div class = "clear"></div>
							</li><!--  -->
							
							<li data-mobile-only>
								<label for = "reqSample_Date_M" class = "control-label col-4">{{labels.Sample_Date}}</label>	
								<input type = "date" class = "form-control col-8" id = "reqSample_Date_M" ng-model = "reqSample_Date_M"/>
								<div class = "clear"></div>
							</li>					
							<li data-pc-only><!--  -->
								<label for = "reqSample_Date" class = "control-label col-4">{{labels.Sample_Date}}</label>	
								<p class = "input-group col-8">
									<input type = "text" class = "form-control" datepicker-popup = "dd/MM/yyyy" is-open = "opened_reqSample_Date" datepicker-options = "dateOptions_reqSample_Date" id = "reqSample_Date" ng-model = "reqSample_Date"/>
									<span class = "input-group-btn">
										<button type = "button" class = "btn btn-default btn-datepicker" ng-click = "open_reqSample_Date($event)"><i class = "glyphicon glyphicon-calendar"></i></button>
									</span>
								</p>
								<div class = "clear"></div>
							</li><!--  -->

							<li>
								<label for = "reqUrgent" class = "control-label col-4">{{labels.Urgent}}</label>		
								<div class = "btn-group col-8">
									<label class = "btn btn-default" ng-model = "reqUrgent" btn-radio = "'Yes'">{{labels.Yes}}</label>
									<label class = "btn btn-default" ng-model = "reqUrgent" btn-radio = "'No'">{{labels.No}}</label>
								</div>
								<div class = "clear"></div>
							</li>
						</div>
					</fieldset>	
					<fieldset class = "col-lg-12">
						<legend>{{labels.Copies}}</legend>
						<ul class = "list-content">
							<li ng-repeat = "c in reqPatients">
								<input type = "text" value = "{{c}}" class = "col-full-left" readonly/>
								<a class = "col-control icon-trash" ng-click = "deleteReqPatients($index)"></a>
							</li>
							<li>
								<input type = "text" class = "col-full-left element-new" ng-model = "newReqPatient"/>
								<a class = "col-control icon-new" ng-click = "addReqPatients()"></a>
							</li>
						</ul>
					</fieldset>
					<div class = "clear"></div>
				</div>
			</div>

			<div class = "page-content">
				<div class = "content-title" data-mobile-only>
					<i>{{selectedPatient.name}} {{selectedPatient.fName}} - {{selectedPatient.birthDate}}</i>
				</div>
				<div class = "page-tab">
					<tabset><tab ng-repeat = "tab in tabs" heading = "{{tab}}" disabled = "tab.disabled" ng-click = "selectTab(tab)"></tab></tabset>
				</div>
				<div class = "column-list"><ul>
					<li ng-repeat = "item in items">
						<label class = "part" ng-if = "item.type == 'part'">{{item.description}}</label>
						<label class = "group" ng-if = "item.type == 'group'">{{item.description}}</label>
						<label class = "code" ng-if = "item.type == 'code'" ng-click = "item.isChecked = !item.isChecked" ng-class = "{selected: item.isChecked}">
							<div class = "description">{{item.description}}</div>
							<div class = "matrix">{{item.matrix}}</div>
							<div ng-class = "{'price reimbursed': item.price, 'price': !item.price}">{{item.price}}</div>
						</label>
					</li>
				</ul></div>
			</div>
		</div>
	</div>
</div>